$prefix: 'xc';

$breakpoint-xl: 1260px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;

$breakpoints: (
  'xl-min': $breakpoint-xl + 1,
  'xl-max': $breakpoint-xl,
  'lg-min': $breakpoint-lg + 1,
  'lg-max': $breakpoint-lg,
  'md-min': $breakpoint-md + 1,
  'md-max': $breakpoint-md,
  'sm-min': $breakpoint-sm + 1,
  'sm-max': $breakpoint-sm,
);

$color-primary: #1A1B1C;

$font-family-pretendard: 'Pretendard', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Tahoma, Verdana, Geneva, sans-serif, Apple Gothic, AppleGothic;
$font-family-base: $font-family-pretendard;
$font-color-base: #1A1B1C;